{% extends 'base.html' %}
{% load static %}

{% block title %}Viet Thanh Nguyen, 2016 Fiction Winner{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-5 col-lg-offset-1 col-sm-12 col-md-push-6 col-lg-push-5">
            <div class="panel dark-blue-panel">
                <div class="panel-content">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <h2>{{ page.year }} {{ page.category }}</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <img class="img-responsive img-rounded center-block" src="{{ MEDIA_URL }}{{ page.book.author.image.url }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="text-center">
                                    <strong>{{ page.book.author.name }}<br><i>{{ page.book.title }}</i></strong>
                                </div>
                            </div>
                        </div>
                        <div class="row quote-row">
                            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                                “{{ page.book.author.quote }}”

                                <br><br><div class="pull-right">— {{ page.book.author.name }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                {{ page.book.author.bio }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-5 col-sm-12 col-md-pull-6 col-lg-pull-5">
            <div class="panel light-blue-panel">
                <div class="panel-content">
                    <div class="panel-body">
                        <div class="row">
                        	<div class="col-md-6 col-md-offset-3 col-sm-12">
                        	  <div class="text-center">
                                    <h3><strong><i>{{ page.book.title }}</i></strong></h3>
                                </div>
                        	</div>

                                <div class="col-md-2 col-sm-12">
                                <img class="img-responsive img-rounded center-block" src="{{ MEDIA_URL }}{{ page.book.cover.url }}">
</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <p>{{ page.book.summary|linebreaks }}
                                    <br><br>
                                <div class="pull-right">
                                    {{ page.book.summary_citation|linebreaks }}
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
