{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    .award-winners-img {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .separator {
        width: 90%;
        height: 1px;
        background-color: #888888;
        margin-left: 5%;
    }
    .center-div {
        margin: 0 auto;
    }
    #contribute-btn {
        color: #ffffff;
        margin: 0 auto;
        background-color: #0C233F;
        border-radius: 7px;
        cursor: pointer;
        padding: 10px;
        margin-top: 10px;
    }
    #contribute-btn:hover {
        background-color: #234F6E;
    }
    #contribute-btn:active {
        background-color: #234F6E;
        box-shadow: 1px 1px 12px #888888 inset;
    }
</style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#nav-home').addClass('active');
        $('[data-toggle="modal"]').on('click', function (e) {
            $('#video-modal').find('iframe').attr('src', $(this).data('video'));
        });
    });
    </script>
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-5 col-lg-offset-1 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h3 class="text-center">See Videos of the 2016 Winners' Acceptance Speeches!</h3>
                                    <br />
                                    <div class="row">
                                        <div class="col-xs-6 col-md-4 col-md-offset-4">
                                          <a href="#" class="thumbnail" data-toggle="modal" data-target="#video-modal" data-video="https://www.youtube.com/embed/58p7r2zBH40">
                                            <img src="http://daytonliterarypeaceprize.org/2016_files/photos/Marilynne_Robinson-440x330.jpg" alt="Marilynn Robinson">
                                          </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-6 col-md-4 col-md-offset-2">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#video-modal" data-video="https://www.youtube.com/embed/IKIEM5PCvRM">
                                          <img src="http://daytonliterarypeaceprize.org/2016_files/photos/Viet_Thanh_Nguyen-325x370.jpg" alt="Viet Thanh Nguyen">
                                        </a>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#video-modal" data-video="https://www.youtube.com/embed/bhLhBR_Dkd4">
                                          <img src="http://daytonliterarypeaceprize.org/2016_files/photos/Susan_Southard-325x370.jpg" alt="Susan Southard">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-6 col-md-4 col-md-offset-2">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#video-modal" data-video="https://www.youtube.com/embed/HaxS53ZvvqA">
                                          <img src="http://daytonliterarypeaceprize.org/2016_files/photos/James_Hannaham-325x370.jpg" alt="James Hannaham">
                                        </a>
                                      </div>
                                      <div class="col-xs-6 col-md-4">
                                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#video-modal" data-video="https://www.youtube.com/embed/kIdwsl-ubF8">
                                          <img src="http://daytonliterarypeaceprize.org/2016_files/photos/Odede_and_Posner-315x370.jpg" alt="Kennedy Odede and Jessica Posner">
                                        </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h3 class="text-center">2016 Award Winners</h3>
                                    <br />
                                    {% for winner in current_year_winners %}
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <img class="img-rounded img-responsive award-winners-img" src="{{ MEDIA_URL }}{{ winner.book.cover.url }}">
                                                <h4>{{ winner.category }}</h4>
                                                <a href="#"><strong>{{ winner.book.author.name }}</strong></a>
                                                <p><i><strong>{{ winner.book.title }}</strong></i></p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1 text-center">
                                    <h3>Recent Events</h3>
                                    <div class="separator"></div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>An Evening for Justice &amp; Peace</h4>
                                            <p>
                                                7:00 pm, Friday, November 18, 2016<br>
                                                The Victoria Theatre<br>
                                                138 North Main Street<br>
                                                Dayton, OH 45402<br>
                                                Tickets at Ticketcenterstage.com<br>
                                                or call 937.228.3630<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>A Conversation with the 2016 Dayton Literary Peace Prize Winners</h4>
                                            <p>
                                                9:00 am, Sunday, November 20, 2016<br>
                                                Ponitz Center — Bldg 12 (North End Auditorium)<br>
                                                Sinclair College<br>
                                                West 4th Street, Dayton, OH 45402<br>
                                                Reservations required by Wed. Nov. 16.<br>
                                                RSVP to <a href="mailto:peaceliterature@att.net">Linda Harrison via e-mail</a>.<br>
                                                (peaceliterature@att.net)<br>
                                                <a href="http://daytonliterarypeaceprize.org/2016-SCC_Event.htm">Click here for more information</a>.<br>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="separator"></div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <h4>2016 Awards Ceremony</h4>
                                            <h4><strong>Sold out!</strong></h4>
                                            <p>
                                                5:00 pm, November 20, 2016<br>
                                                Benjamin and Marian Schuster<br>
                                                Performing Arts Center<br>
                                                1 West Second Street<br>
                                                Dayton, OH  45402<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="http://corescholar.libraries.wright.edu/dlpp/" style="float: right"><img class="img-responsive img-rounded" src="http://daytonliterarypeaceprize.org/images/CoreScholar_Button-205x58.jpg"></a>
                                            <p>See a complete bibliography and short history of the Dayton Literary Peace Prize on the website of CORE Scholar, an institutional repository sponsored by Wright State University Libraries. CORE Scholar collects and makes available the scholarly output of WSU faculty, staff, and students as well as local, regional, and WSU heritage material.</p>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <div class="text-center">
                                                <div id="contribute-btn"><h4>Make a contribution to the <strong>Dayton Literary Peace Prize</strong></h4></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel dark-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <h3 class="white-text text-center">Slideshow of the 2016 Awards Dinner</h3>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1 col-xs-8 col-xs-offset-2">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/00-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/01-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/02-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/03-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/04-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/05-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/06-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/07-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/08-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/09-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/10-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/11-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/12-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/13-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/14-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/15-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/16-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/17-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/18-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/19-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/20-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/21-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/22-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/23-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/24-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/25-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/26-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/27-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/28-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/29-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/30-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/31-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/32-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/33-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/34-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/35-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/36-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/37-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/38-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/39-slideshow.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img class="img-rounded" src="http://daytonliterarypeaceprize.org/2016_files/photos/award_ceremony/40-slideshow.jpg" alt="...">
                                            </div>
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h3 class="text-center">Fly with the Doves Book Circle</h3>
                                    <img class="img-responsive" src="{% static 'img/FwtD_Logo-160x200.png' %}" style="float:right">
                                    <p>Help spread peace through the written word by joining DLPP’s new Fly with the Doves Book Circle Membership Program.<br><br>

                                        By joining and supporting this program you will help DLPP share the winning and nominated books with schools and universities so educators can incorporate them into their curricula and into their libraries. The first recipient of books funded by membership contributions will be the National Library at Sarajevo’s City Hall in Bosnia.<br><br>

                                        For every $25 dollars you contribute when you join, a book will be donated — plus, as a member you will be listed as one of our Doves in the virtual “Fly with the Doves Book Circle” on the DLPP website (coming soon) and in the event program.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                                    <a class="btn btn-default btn-block" href="#" type="button">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <h3 class="text-center">2016 Finalist Judges</h3>
                            <div class="row">
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail text-center"><img src="http://daytonliterarypeaceprize.org/photos/judges/Alex_Chee-80x100.jpg">Alexander Chee (Fiction)</a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail text-center"><img src="http://daytonliterarypeaceprize.org/photos/judges/Ruben_Martinez-80x100.jpg">Ruben Martinez (Nonfiction)</a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail text-center"><img src="http://daytonliterarypeaceprize.org/photos/judges/Evelyn_McDonnell-80x100.jpg">Evelyn McDonnell (Nonfiction)</a>
                                </div>
                                <div class="col-xs-6 col-md-3">
                                    <a href="#" class="thumbnail text-center"><img src="http://daytonliterarypeaceprize.org/photos/judges/Christine_Schutt-80x100.jpg">Christine Schutt (Fiction)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-md-6 col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel light-blue-panel">
                    <div class="panel-content">
                        <div class="panel-body">
                            <h3 class="text-center">Notable Articles, Videos, and Events</h3>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h4>Wendell Berry Honored by NBCC</h4>
                                    <img class="img-responsive img-rounded" style="float: right" src="http://daytonliterarypeaceprize.org/2013_files/photos/Author-Berry-85x115.jpg">
                                    <p>
                                        The National Book Critics Circle has announced that Wendell Berry is the winner of their Ivan Sandrof Lifetime Achievement Award. Mr. Berry was our 2013 winner of the Ambassador <a href="#">Richard C. Holbrooke Award for lifetime achievement</a>. <a href="http://bookcritics.org/blog/archive/nbcc-awards-finalists-balakian-sandrof-john-leonard-award-winners">Click here for more information.</a>
                                    </p>
                                </div>
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h4>Sharon Rab Honored by WSU</h4>
                                    <img class="img-responsive img-rounded" style="float: right" src="http://daytonliterarypeaceprize.org/2015_files/photos/SRab_at_WSU-85x85.jpg">
                                    <p>We are pleased to share the news that Sharon Rab, founder and co-chair of the Dayton Literary Peace Prize, was awarded an honorary doctorate of humane letters by Wright State University during fall commencement at the Wright State Nutter Center on Saturday, Dec. 19, 2015. <a href="http://webapp2.wright.edu/web1/newsroom/2015/12/19/wright-state-university-graduates-urged-to-change-a-troubled-world-work-for-peace/">Click here for more information</a>.</p>
                                </div>
                                <div class="col-xs-10 col-xs-offset-1">
                                    <h4>Karima Bennoune Honored by UN</h4>
                                    <img class="img-responsive img-rounded" style="float: right" src="http://daytonliterarypeaceprize.org/images/logos/UNHR_Logo-85x79.gif">
                                    <p>We are pleased to share the news that the United Nations Human Rights Council has appointed Karima Bennoune, winner of the 2014 Dayton Literary Peace Prize for nonfiction, as Special Rapporteur in the field of cultural rights. <a href="http://www.ohchr.org/EN/NewsEvents/Pages/DisplayNews.aspx?NewsID=16562&LangID=E#sthash.oxhUJiS3.dpuf">Click here for more information</a>.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="separator"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <p class="text-center">Join us on &ensp;<a href="http://www.facebook.com/pages/Dayton-Literary-Peace-Prize/136778165773"><img class="img-rounded" height="32" src="{% static 'img/facebook.png' %}"></a> &ensp;<a href="http://twitter.com/DLPeacePrize"><img class="img-rounded" height="32" src="{% static 'img/twitter.png' %}"></a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="video-modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe src="" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
