{% extends 'base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    $('#nav-mission').addClass('active');
})
</script>
{% endblock %}

{% block title %}Mission{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12">
            <div class="panel dark-blue-panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">The Mission of the Dayton Literary Peace Prize</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <img class="img-responsive" src="{% static 'img/Award-140x370-blue.jpg' %}" width="140" height="370" style="float: right">
                            <p>The Dayton Literary Peace Prize Foundation (DLPP) was established to advance peace through literature. We support those who write, publish, read and share works of fiction and nonfiction that promote peace and understanding.
                                <br>
                                Our goals are:</p>
                            <ul>
                                <li>To promote peace by encouraging people to read, share, and appreciate literary works about peace,</li>
                                <li>To promote the recognition of literature as a force in achieving peace, and </li>
                                <li>To establish prizes to recognize writers and the role their books play in educating people about peace.</li>
                            </ul>
                            <p>
                                <strong>Award Criteria</strong>
                                <br>
                                <ul>
                            <li>Nominated works should focus on peace: increasing understanding between and among people as individuals or within and between families, communities, nations, ethnic groups, cultures and religions. Works should have enduring literary value and should appeal to a variety of audiences.
                                <ul>
                                    <li>ending or seeking to end conflict—personal, national or international, </li>
                                    <li>establishing concord between and among people, or</li>
                                    <li>showing consequences of persons, nations or institutions recklessly disrupting personal harmony or universal accord. </li>
                                </ul>
                            </li>
                        </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
