{% extends 'base.html' %}
{% load static %}

{% block title %}Past Awards{% endblock %}

{% block style %}
<style>
    #past-awards-nav .active > a {
        background-color: #eeeeee;
        color: #234F6E;
    }

    li.dropdown .dropdown-menu {
        width: 100%;
    }

    #results-panel {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    $('#nav-past-awards').addClass('active');

    $('.display-by-link').on('click', function (e) {
        e.preventDefault();
        $('.display-by-link').removeClass('active');
        $(this).addClass('active');
        if ($(this).data('toggle') === 'author') {
            $('.img-book').fadeOut(function () {
                $('.img-author').fadeIn();
            });
            $('.author-header').each(function () {
                $(this).replaceWith('<h5 class="author-header dark-blue-text">' + this.innerHTML + '</h5>');
            });
            $('.book-header').each(function () {
                var html = this.innerHTML;
                var authorHeader = $(this).parent().find('.author-header');
                $(this).remove();
                authorHeader.after('<h6 class="book-header dark-blue-text">' + this.innerHTML + '</h6>');
            });
        } else if ($(this).data('toggle') === 'book') {
            $('.img-author').fadeOut(function () {
                $('.img-book').fadeIn();
            });
            $('.book-header').each(function () {
                $(this).replaceWith('<h5 class="book-header dark-blue-text">' + this.innerHTML + '</h5>');
            });
            $('.author-header').each(function () {
                var html = this.innerHTML;
                var bookHeader = $(this).parent().find('.book-header');
                $(this).remove();
                bookHeader.after('<h6 class="author-header dark-blue-text">' + this.innerHTML + '</h6>');
            });
        }
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-sm-12">
            <div class="panel dark-blue-panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">Past Awards</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1">
                            <ul class="nav nav-pills nav-justified" id="past-awards-nav">
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-th-large"></span> Categories <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Holbrooke Award</a></li>
                                        <li><a href="#">Fiction Winner</a></li>
                                        <li><a href="#">Fiction Runner-up</a></li>
                                        <li><a href="#">Nonfiction Winner</a></li>
                                        <li><a href="#">Nonfiction Runner-up</a></li>
                                        <li role="separator" class="divider"></li>                                        
                                        <li><a href="#">Finalists</a></li>
                                        <li><a href="#">Finalist Judges</a></li>
                                        <li><a href="#">Sponsors</a></li>
                                        <li><a href="#">Master of Ceremonies</a></li>
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-calendar"></span> Years <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for year in years %}
                                            <li><a href="#">{{ year }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle white-text" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-th-list"></span> Display By <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                    <li class="active display-by-link" data-toggle="author"><a href="#"><span class="glyphicon glyphicon-user"></span> Author</a></li>
                                    <li class="display-by-link" data-toggle="book" ><a href="#"><span class="glyphicon glyphicon-book"></span> Book</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="panel light-blue-panel" id="results-panel">
                                <div class="panel-content">
                                    <div class="panel-body">
                                        {% for award in awards %}
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="well">
                                                    <a href="{% url 'content:winner' %}?author_name={{ award.book.author.name }}&book_title={{ award.book.title }}">
                                                        <img class="img-responsive img-rounded img-author" src="{{ MEDIA_URL }}{{ award.book.author.image.url }}">
                                                        <img class="img-responsive img-rounded img-book" src="{{ MEDIA_URL }}{{ award.book.cover.url }}" style="display: none">
                                                        <h5 class="author-header dark-blue-text">{{ award.book.author.name }}</h5>
                                                        <h6 class="book-header dark-blue-text"><i>{{ award.book.title }}</i></h6>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
