body {
    font-family: 'PT Sans', sans-serif;
    background-color: #234F6E;
}

#dlpp-jumbotron {
    background-color: #ffffff;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    overflow-x: hidden;
}

#dlpp-jumbotron h1 {
    color: #234F6E;
}

#dlpp-jumbotron p {
    padding-top: 10px;
    color: #0C233F;
    font-family: 'Courgette', cursive;
}

#dlpp-jumbotron p.visible-md.visible-lg {
    margin-left: 250px;
}

#dlpp-navbar {
    border-radius: 0;
    background-color: #0C233F;
    color: #ffffff;
    border: 0;
    box-shadow: rgba(32, 36, 64, 0.50) 0 3px;
}

.navbar-toggle {
    color: #ffffff;
    border-color: #eeeeee;
}

.navbar-toggle > .icon-bar {
    background-color: #ffffff;
}

.navbar-nav li a {
    color: #ffffff;
}

.navbar-nav li a:hover {
    color: #ffffff;
    background-color: #223553;
}

.navbar-nav li ul {
    background-color: #234F6E;

}

.navbar-nav li ul li a {
    color: #ffffff;
}

.navbar-nav li ul li a:hover {
    color: #ffffff;
    background-color: #223553;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #ffffff;
    background-color: #244868;
}

.navbar-nav > li.active > a {
    color: #dddddd;
    background-color: #223553;
}

.dark-blue-panel {
    background-color: #0C233F;
    box-shadow: rgba(32, 36, 64, 0.50) 3px 3px;
    color: #ffffff;
}

.dark-blue-panel h2 {
    color: #ffffff;
}

.dark-blue-panel p {
    color: #ffffff;
}

.dark-blue-panel ul {
    color: #ffffff;
}

.vertical-center {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.light-blue-panel {
    background-color: #C7D1D8;
    box-shadow: rgba(32, 36, 64, 0.50) 3px 3px;
}

.quote-row {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #EFE300;
}

.white-text {
    color: #ffffff;
}

.dark-blue-text {
    color: #0C233F;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}
