{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} | Dayton Literary Peace Prize</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    {% endblock %}

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block script %}
    {% endblock %}
</head>
<body>
<div class="jumbotron" id="dlpp-jumbotron">
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'content:home' %}"><img class="img-responsive" src="{% static 'img/DLPP_Logo-468x324-transpare.png' %}" width="234" height="162" style="float:left"></img></a>
            <p class="visible-md visible-lg">The first and only annual U.S. literary award recognizing the power of the written word to promote peace.</p>
        </div>
    </div>
    <div class="row visible-xs visible-sm">
        <div class="col-xs-12">
            <p>The first and only annual U.S. literary award recognizing the power of the written word to promote peace.</p>
        </div>
    </div>
</div>
<nav class="navbar" id="dlpp-navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="nav-home"><a href="{% url 'content:home' %}">Home</a></li>
                <li id="nav-mission"><a href="{% url 'content:mission' %}">Mission</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">2016 Awards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'content:winner' %}?year=2016&category=Holbrooke Award">Holbrooke Award</a></li>
                        <li><a href="{% url 'content:winner' %}?year=2016&category=Fiction Winner">Fiction Winner</a></li>
                        <li><a href="{% url 'content:winner' %}?year=2016&category=Fiction Runner-up">Fiction Runner-up</a></li>
                        <li><a href="{% url 'content:winner' %}?year=2016&category=Nonfiction Winner">Nonfiction Winner</a></li>
                        <li><a href="{% url 'content:winner' %}?year=2016&category=Nonfiction Runner-up">Nonfiction Runner-up</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Finalists</a></li>
                        <li><a href="#">Finalist Judges</a></li>
                        <li><a href="#">Sponsors</a></li>
                    </ul>
                </li>
        	<li id="nav-past-awards"><a href="{% url 'content:past_awards' %}">Past Awards</a></li>
            </ul>
          <form class="navbar-form navbar-right" role="search">
  <div class="form-group">
<div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
</form>
        </div>

    </div>
</nav>
<div class="container-fluid">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>
